
// ==========================================================================
// Styleguide
// ==========================================================================

.colour-block {
	height: 60px; 
	width: 60px;
	display: inline-block;
}