
// ==========================================================================
// Main
// ==========================================================================
$errorColor: red;
$errorBGColor: pink;
.help-block{
	color: $errorColor;
	background-color: $errorBGColor;
}